<!--header-->
<div class="row" id="header-bar">
    <div class="col-md-6" id="dash-title">
        <div class="mt-2" id="title">Admin Dashboard</div>
    </div>
    <div class="d-flex justify-content-end col-md-6 align-content-center" id="dash-title">
        <!-- TODO ADD DATA FROM VIEW MODEL-->
        <div class="dit mr-3 mt-3">
            User: Young Solomon
        </div>
        <div id="img-wrapper" class="  mt-2">

        </div>
    </div>
</div>

<!-- Classic tabs -->
<div class="container-fluid" style="border:1px solid#000;">
    <div class="row">
        <!--pills-->
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            </div>
        </div>
        <!--pills-->

        <!--tabs-->
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- pill profile -->
                <div class="tab-pane fade show active dash-tab-field" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style=" border: 1px solid;">
                    <div>
                        book list
                    </div>
                </div>
                <!-- pill Edit profile -->
                <div class="tab-pane fade dash-tab-field" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style=" border: 1px solid;">
                    user list
                </div>
            </div>
        </div>
        <!--tabs-->
    </div>
</div>
<!-- Classic tabs -->