@model UpdateBookViewModel

<!--update book -->
<div class="tab-pane dash-tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="">
    <div class="container-fluid d-flex justify-content-center align-content-center mt-2">
        <div class="col-md-6 book-layout-container">
            <a href="#add-book-form" data-toggle="collapse" id="add-book-form-title" class="collapse-header" style="width:90%;">Update Books</a>
            <div id="add-book-form" class="collapse show">
                <form method="post" asp-controller="DashBoard" class="Add-book-form" asp-action="UpdateBook" enctype="multipart/form-data">
                    <div class="form-group col">
                        <input placeholder="Title" asp-for=Book.Id class="form-control" hidden/>
                    </div>
                    <div class="form-group col">
                        <input placeholder="Title" asp-for=Book.Title class="form-control" />
                        <span asp-validation-for=Book.Title style="color:green"></span>
                    </div>
                    <div class="form-group col">
                        </i><input placeholder="Author" asp-for="Book.Author" class="form-control" />
                        <span asp-validation-for="Book.Author" style="color:green"></span>
                    </div>
                    <div class="form-group col">
                        <input placeholder="ISBN" asp-for="Book.ISBN" class="form-control" />
                        <span asp-validation-for="Book.ISBN" style="color:green"></span>
                    </div>
                    <div class="form-group col">
                        <input placeholder="Total Copies" asp-for="Book.TotalPages" class="form-control" />
                        <span asp-validation-for="Book.TotalPages" style="color:green"></span>
                    </div>
                    <div class="form-group col">
                        <input placeholder="Total Copies" asp-for="Book.Publisher" class="form-control" />
                        <span asp-validation-for="Book.Publisher" style="color:green"></span>
                    </div>
                    <div class="form-group col">
                        <div class="container">
                            <div class="row">
                                <input type="date" asp-for="Book.PublishDate" name="name" value="" class="col" />
                                <span asp-validation-for="Book.PublishDate" style="color:green"></span>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">
                            @*<div class="form-group col">
                    <select placeholder="" style="">
                        <option>Select Category</option>
                    </select>
                    <span asp-validation-for="Genre" style="color:green"></span>
                </div>*@

                            <div class="form-group col">
                                <input type="file" asp-for="Book.BookImage" value="" />
                                <span asp-validation-for="Book.BookImage" style="color:green"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <textarea cols="40" rows="3" placeholder="Description" asp-for="Book.Description"></textarea>
                    </div>
                    <div class="form-group col d-flex justify-content-center align-content-center add-book-btn pb-2">
                        <button type="submit" class="btn form-btn btn-dark" id="add-book-button">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>