@model LoginViewModel
@{
    Layout = "_Layout.cshtml";
}

<div class="row d-flex justify-content-center align-items-center login-sign-up-container p-4 mt-5" style="">
    <!--sign up
    <div class="col-md-5 sign-up-form-div login-sign-up-items">right content</div>
    Login form-->
    <div class="col-md-4 d-flex justify-content-end align-content-end login-form-div p-3 login-sign-up-items">
        <form method="post" asp-action="Login" id="login-form" asp-controller="Account" class="align-content-center justify-content-center">
            <div class="form-group">
                <label class="form-title">User Login</label>
            </div><br /><br />
            <div class="form-group">
                <i class="fas fa-user"></i>&nbsp;<label asp-for="Email">User Name </label>
                <input placeholder="Email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" style="color:green"></span>
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i> &nbsp;<label asp-for="Password">Password</label>
                <input placeholder="Password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group m-1 d-flex">
                <input placeholder="" asp-for="Rememberme" class="form-control" style="width:15px;height:15px; margin-top:5px;margin-right:3px;" /><label asp-for="Rememberme">Remember me</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn form-btn" id="login-btn">Login</button>
            </div>
            <div class="form-group">
                <button type="submit" asp-action="SignUp" asp-controller="Account" class="btn form-btn" id="sign-btn">Sign Up</button>
            </div>
            <div style="color:#ff0000">@ViewBag.Message</div>
        </form>
    </div>
</div>